<config>
    <modules>
        <Alpha_Sharer>
            <version>0.1.0</version>
        </Alpha_Sharer>
    </modules>
    <frontend>
        <routers>
            <sharer>
                <use>standard</use>
                <args>
                    <module>Alpha_Sharer</module>
                    <frontName>sharer</frontName>
                </args>
            </sharer>
        </routers>
        <layout>
            <updates>
                <sharer>
                    <file>sharer.xml</file>
                </sharer>
            </updates>
        </layout>
        <translate>
            <modules>
                <Alpha_Sharer>
                    <files>
                        <default>Alpha_Sharer.csv</default>
                    </files>
                </Alpha_Sharer>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <alpha_sharer before="Mage_Adminhtml">Alpha_Sharer_Adminhtml</alpha_sharer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sharer>
                    <file>sharer.xml</file>
                </sharer>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <sharer>
                <class>Alpha_Sharer_Model</class>
                <resourceModel>sharer_resource</resourceModel>
            </sharer>
            <sharer_resource>
                <class>Alpha_Sharer_Model_Resource</class>
                <entities>
                    <message>
                        <table>sharer_message</table>
                    </message>
                </entities>
            </sharer_resource>
        </models>
        <resources>
            <sharer_setup>
                <setup>
                    <module>Alpha_Sharer</module>
                    <class>Alpha_Sharer_Model_Resource_Setup</class>
                </setup>
            </sharer_setup>
        </resources>
        <helpers>
            <sharer>
                <class>Alpha_Sharer_Helper</class>
            </sharer>
        </helpers>
        <blocks>
            <sharer>
                <class>Alpha_Sharer_Block</class>
            </sharer>
        </blocks>
    </global>
</config>